{% extends 'empbase.html' %}

{% block main %}

<div class="card shadow m-2">
    <div class="card-body">
        <h5 class= "p-2" style="border-bottom : 2px solid orange"> Change Password</h5>

        <div class="container-fluid">
            <form method ="post">
                {% csrf_token %}
                <div class="from-row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <lable>Old Password</lable>
                            <input type="password" name="Old Password" class="form-control" placeholder="Enter Old Password" required>
<!--                            value="{{employee.user.User_Name}}-->
                        </div>

                    </div>

                    <div class="col-sm-8">
                        <div class="form-group">
                            <lable>New Password</lable>
                            <input type="Password" name="NewPassword" class="form-control" placeholder="Enter New Password"required>
                        </div>

                    </div>
                    <div class="col-sm-8">
                        <div class="form-group">
                            <lable>New Password Conformation </lable>
                            <input type="Password" name="Confirm Password" class="form-control" placeholder="Enter Confirm Password" required >
                        </div>
                    </div>
<!--                    <div class="col-sm-8">-->
<!--                        <div class="form-group">-->
<!--                            <lable>Employee Designation</lable>-->
<!--                            <input type="text" name="dept" class="form-control" placeholder="Enter Emp Designation" required >-->
<!--                        </div>-->
<!--                        </div>-->


<!--                    <div class="col-sm-8">-->
<!--                        <div class="form-group">-->
<!--                            <lable>PhoneNumber</lable>-->
<!--                            <input type="text" name="PhoneNumber" class="form-control" placeholder="Enter PhoneNumber" required>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                        <div class="col-sm-8">-->
<!--                        <div class="form-group">-->
<!--                            <lable>Address</lable>-->
<!--                            <input type="text" name="Address" class="form-control" placeholder="Enter your Address" required>-->
<!--                        </div>-->

<!--                    </div>-->
                </div>
                <br>
                <input type="submit" value="Change Password" class="btn btn-primary">
            </form>

        </div>
<!--        <section class="container" style="margin-top: 1rem;">-->
<!--                       <div class="row">-->
<!--                         <p> Go to <a href="{% url 'emp_dashbord'%}" style="color:#ae6cff;">dashboard</a></p>-->
<!--                       </div>-->
<!--                     </section>-->

    </div>
</div>

{% if error == "no" %}
<script>
    alert('Changed Password Successfully');
    window.location = ('{% url 'Eprofile' %}');
</script>
{% endif %}
{% if error == "yes" %}
<script>
    alert(something went wrong,Try Again...');
</script>
{% endif %}

{% endblock %}
