
{% extends 'empbase.html' %}

{% block main %}
<style>
  .empdashboard{
height:70px;
height:70px;
}
</style>
    <h4 class="text-dander p-2" style="border-bottom : 2px solid green"> Employee Dashboard</h4>
<div class="row text-center">
    <div class="col-sm-12 p-0">
        <div class="card shadow">
        <div class="empdashboard card-body">
            <h5 class="text-success">Welcome To Dashboard</h5>
            <h6 class="text-capitalize">{{EmployeeName}}</h6>

        </div>
            </div>
</div>
</div>

{% endblock %}
